Exercise 1: Make an empty list and call it names

In [1]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [3]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

Exercise 3: Make names sored in reverse. Print out the list using a for-loop

In [21]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
print(names)

names.sort(reverse = True)
print(names)
print()
for names in names :
    if names == "" :
        print("Incomplete")
        continue
        
    print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']
['Victor', 'Sarah', 'Sam', 'James', 'Hannah']

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [27]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

print()

names.sort()
print(names)

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']

Exercise 5: Pull out the fourth item from names and print it out

In [57]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
print(names)

names.remove("James")
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']
['Hannah', 'Victor', 'Sam', 'Sarah']

Exercise 6: Pull out the first item from names and print it out

In [61]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
print(names)

names.remove("Hannah")
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']
['Victor', 'Sam', 'James', 'Sarah']

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [69]:
fruits = 'Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit'
print(fruits)

fruits = [fruits.split(",")]
print(fruits)

Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit
[['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']]

Exercise 8: Write a program to generate a right-triangle using asterisks(*) where the base of the triangle has 10 asterisks

In [92]:
counter = 0

while counter < 11 :
    print("*" * counter)
    counter += 1

*
**
***
****
*****
******
*******
********
*********
**********

Exercise 9: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [116]:
for x in range(1, 11) :
    print(x * x)

1
4
9
16
25
36
49
64
81
100

Exercise 10: Create a multiplication table from 1 to 10

In [119]:
for a in range(1, 11) :
    for b in range(1, 11):
        print(a * b, end = '\t')
    print('')

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Exercise 11: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [6]:
n = int(input("Enter the number of scores: "))
x = []
for i in range(0,n):
    elem = int(input("Enter score: "))
    x.append(elem)
avg = sum(x)/n
print("Average of scores",round(avg,2))

Enter the number of scores: 5
Enter score: 23
Enter score: 22
Enter score: 12
Enter score: 34
Enter score: 5
Average of scores in the list 19.2

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```